<h3> <%= review.user.name %> </h3>
<p>  <%= review.description %> </p>
<p> <%= review.created_at %> </p>
<h4> Rating: <%= review.rating %></h4>

<% if current_user === nil %>
<% else %>
  <% if current_user.id === review.user_id %>
  <%= link_to 'Delete', [@product, review], method: :delete, id: 8%>
  <% end %>
<% end %>
